:root{
  font-size: 62.5%;
  --bg-color:#573824;
  --surface-color:#F0E8C2;
  --text-color-primary:#291B1A;
  --text-color-section:#573A37;
  --text-color-secondary:#F0E8C2;
  --font-h1: 4rem;
  --font-h2: 2.4rem;
  --font-text: 1.6rem;
  font-family: 'Alice', serif;
}

*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2{
  color: var(--text-color-primary);
  line-height: 150%;
}

h1{
  font-size: var(--font-h1);
  margin-bottom: 4px;
}

h2{
  font-size: var(--font-h2);
  margin-bottom: 4px;
}


p, ul{
  font-size: var(--font-text);
  color: var(--text-color-section);
}

ul{
  padding-left: 2.4rem;
}

body{
  background-image: url(../img/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page{
  margin: 48px auto;
  background-color: var(--surface-color);
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 2.8rem;
  max-width: 800px;
}

main{
  padding: 24px;
}

#about p + p{
  margin-top: 12px;
}

section + section {
  margin-top: 2.4rem;
}

img{
  border-radius: 16px;
  width: 100%;
}
footer{
  text-align: center;
  padding: 4.8rem;
}

footer p{
  color: var(--surface-color);
}
